DendoSoapSample/Connected Services/DendoService/DendoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DendoRank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DendoRankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DendoRankResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DendoRankSoapIn">
    <wsdl:part name="parameters" element="tns:DendoRank" />
  </wsdl:message>
  <wsdl:message name="DendoRankSoapOut">
    <wsdl:part name="parameters" element="tns:DendoRankResponse" />
  </wsdl:message>
  <wsdl:portType name="DendoService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DendoRank">
      <wsdl:input message="tns:DendoRankSoapIn" />
      <wsdl:output message="tns:DendoRankSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DendoService1Soap" type="tns:DendoService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DendoRank">
      <soap:operation soapAction="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx/DendoRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DendoService1Soap12" type="tns:DendoService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DendoRank">
      <soap12:operation soapAction="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx/DendoRank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DendoService1">
    <wsdl:port name="DendoService1Soap" binding="tns:DendoService1Soap">
      <soap:address location="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx" />
    </wsdl:port>
    <wsdl:port name="DendoService1Soap12" binding="tns:DendoService1Soap12">
      <soap12:address location="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>